<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./images/home.png" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    <h1 class="heading"><u>Student's T - Test</u></h1>
    <p class="blurb">This web application is a simple version of an independent samples t-test<br>
        It can perform the Student's T-Test for two samples, where the sample size of each sample is between 3 and 15, with a 5% significance level<br>
    </p>
    <button type="button" class="enterButton">Click Here to Start</button>
    <script src="script.js"></script>
</body>
</html>