<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./images/t.png" type="image/x-icon">
    <title>Document</title>
</head>
<body class="testbody">
    <div class="bsample">
        <div class="headings">
            <h2 class="bheading">Sample B</h2>
            <h3 class="bsubheading">Sample Size</h3>
        </div>
        <input type="number" placeholder="B" autocomplete="off" class="binput input">
        <div id="addItemsB" class="addItems"></div>
        <button type="submit" class="bsubmit submitButton">Submit</button>
    </div>
    <script src="sampleBScript.js"></script>
</body>
</html>