@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* styling to be used for multiple HTML pages */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FF9966;
    color: #BA160C;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/* index.html specific styling */

.enterButton {
    background-color: #BA160C;
    color: white;
    cursor: pointer;
    border: 5px solid #BA160C;
    padding: 20px 50px;
    font-family: inherit;
    font-size: 32px;
    border-radius: 5px;
    margin: 20px;
}

.enterButton:hover {
    border: 5px solid #8A3324;
}

.enterButton:active{ 
    transform: scale(0.98);
}

/* test.html specific styling */

.testbody {
    flex-direction: row;
    justify-content: space-evenly;
    
}

.asample {
    display: flex;
    flex-direction: column;
}

.bsample {
    display: flex;
    flex-direction: column;
}