@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* styling to be used for multiple HTML pages */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3A5A40;
    color: #DAD7CD;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/* index.html specific styling */

.enterButton {
    background-color: #DAD7CD;
    color: #3A5A40;
    cursor: pointer;
    /* border: 5px solid #DAD7CD; */
    border: none;
    padding: 20px 50px;
    font-family: inherit;
    font-size: 32px;
    border-radius: 5px;
    margin: 20px;
}

.enterButton:hover {
    background-color: #D1D8C5;
}

.enterButton:active{ 
    transform: scale(0.98);
}

/* test.html specific styling */

.testbody {
    flex-direction: row;
    justify-content: space-evenly;
}

.asample {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;
}

.bsample {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.aheading, .bheading {
    margin: 5px;
}

.input {
    color: #344E41;
    text-align: center;
    font-size: 130%;
    width: 70px;
    height: 45px;
}

.input:focus {
    outline:#213129;
}

/* removes arrows from number input */
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.submitButton {
    margin: 10px;
    background-color:#DAD7CD ;
    color:#3A5A40;
    cursor: pointer;
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
}

.submitButton:hover {
    background-color: #D1D8C5;
}

.submitButton:active {
    transform: scale(0.98);
}