@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #8A3324;
    color: #BA160C;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.enterButton {
    background-color: #BA160C;
    color: white;
    cursor: pointer;
    border: 2px solid #BA160C;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border-radius: 5px;
}

.enterButton:hover {
    border: 2px solid #8A3324;
}

.enterButton:active{ 
    transform: scale(0.98);
}