<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/t.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Student's T - Test</title>
</head>
<body>
    <div class="asample">
        <h3 class="aheading">Sample A</h3>
        <h4 class="asubheading">Data Size</h4>
        <input type="number" placeholder="A" autocomplete="off" class="ainput">
        <button type="submit" class="asubmit">Submit</button>
    </div>
    <div class="bsample">
        <h3 class="bheading">Sample B</h3>
        <h4 class="bsubheading">Data Size</h4>
        <input type="number" placeholder="B" autocomplete="off" class="binput">
        <button type="submit" class="bsubmit">Submit</button>
    </div>
</body>
</html>